In [1]:
#Library Importing

import pandas as pd
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark.sql.functions import *
from pyspark.sql.types import *
from datetime import date, timedelta, datetime
import time

# INITIALIZING SPARKSESSION

In [2]:
#Initialization of a Spark Session
sc = SparkSession.builder.appName("PySparkExample")\
    .config ("spark.sql.shuffle.partitions", "50") \
    .config("spark.driver.maxResultSize","5g") \
    .config ("spark.sql.execution.arrow.enabled", "true")\
    .getOrCreate()

# CREATING DATAFRAMES

In [3]:
#Read from json, parquet, txt, csv formatted files.
#Creates a spark data frame called as raw_data.

#JSON
dataframe = sc.read.json('dataset/nyt2.json')

#TXT FILES
# dataframe_txt = sc.read.text('text_data.txt')

#CSV FILES
# dataframe_csv = sc.read.csv('csv_data.csv')

#PARQUET FILES
# dataframe_parquet = sc.read.load('parquet_data.parquet')

In [4]:
dataframe = sc.read.json('dataset/nyt2.json')

In [5]:
dataframe.show(10)

+--------------------+--------------------+--------------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+
|                 _id|  amazon_product_url|              author| bestsellers_date|         description|   price|   published_date|    publisher|rank|rank_last_week|               title|weeks_on_list|
+--------------------+--------------------+--------------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+
|[5b4aa4ead3089013...|http://www.amazon...|       Dean R Koontz|[[1211587200000]]|Odd Thomas, who c...|  [, 27]|[[1212883200000]]|       Bantam| [1]|           [0]|           ODD HOURS|          [1]|
|[5b4aa4ead3089013...|http://www.amazon...|     Stephenie Meyer|[[1211587200000]]|Aliens have taken...|[25.99,]|[[1212883200000]]|Little, Brown| [2]|           [1]|            THE HOST|          [3]|
|[5b4aa4ead3089013...|http://www.amazon...|        Emily Giffin|[[1211587200000]]|A woman's happy m...|[24.95,]|[[1212883200000]]| St. Martin's| [3]|           [2]|LOVE THE ONE YOU'...|          [2]|
|[5b4aa4ead3089013...|http://www.amazon...|   Patricia Cornwell|[[1211587200000]]|A Massachusetts s...|[22.95,]|[[1212883200000]]|       Putnam| [4]|           [0]|           THE FRONT|          [1]|
|[5b4aa4ead3089013...|http://www.amazon...|     Chuck Palahniuk|[[1211587200000]]|An aging porn que...|[24.95,]|[[1212883200000]]|    Doubleday| [5]|           [0]|               SNUFF|          [1]|
|[5b4aa4ead3089013...|http://www.amazon...|James Patterson a...|[[1211587200000]]|A woman finds an ...|[24.99,]|[[1212883200000]]|Little, Brown| [6]|           [3]|SUNDAYS AT TIFFANY’S|          [4]|
|[5b4aa4ead3089013...|http://www.amazon...|       John Sandford|[[1211587200000]]|The Minneapolis d...|[26.95,]|[[1212883200000]]|       Putnam| [7]|           [4]|        PHANTOM PREY|          [3]|
|[5b4aa4ead3089013...|http://www.amazon...|       Jimmy Buffett|[[1211587200000]]|A Southern family...|[21.99,]|[[1212883200000]]|Little, Brown| [8]|           [6]|          SWINE NOT?|          [2]|
|[5b4aa4ead3089013...|http://www.amazon...|    Elizabeth George|[[1211587200000]]|In Cornwall, tryi...|[27.95,]|[[1212883200000]]|       Harper| [9]|           [8]|     CARELESS IN RED|          [3]|
|[5b4aa4ead3089013...|http://www.amazon...|      David Baldacci|[[1211587200000]]|An intelligence a...|[26.99,]|[[1212883200000]]|Grand Central|[10]|           [7]|     THE WHOLE TRUTH|          [5]|
+--------------------+--------------------+--------------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+
only showing top 10 rows

# DUPLICATE VALUES

In [6]:
dataframe_dropdup = dataframe.dropDuplicates()

In [7]:
dataframe_dropdup.show(10)

+--------------------+--------------------+--------------------+-----------------+--------------------+--------+-----------------+----------------+----+--------------+--------------------+-------------+
|                 _id|  amazon_product_url|              author| bestsellers_date|         description|   price|   published_date|       publisher|rank|rank_last_week|               title|weeks_on_list|
+--------------------+--------------------+--------------------+-----------------+--------------------+--------+-----------------+----------------+----+--------------+--------------------+-------------+
|[5b4aa4ead3089013...|http://www.amazon...|Clive Cussler wit...|[[1213401600000]]|Juan Cabrillo and...|[26.95,]|[[1214697600000]]|          Putnam| [4]|           [3]|         PLAGUE SHIP|          [2]|
|[5b4aa4ead3089013...|http://www.amazon...|      Jeffery Deaver|[[1215820800000]]|Detectives Lincol...|   [, 0]|[[1217116800000]]|Simon & Schuster|[20]|           [0]|   THE BROKEN WINDOW|          [0]|
|[5b4aa4ead3089013...|http://www.amazon...|        Daniel Silva|[[1217030400000]]|Gabriel Allon, an...|[26.95,]|[[1218326400000]]|          Putnam| [1]|           [0]|  THE SECRET SERVANT|          [1]|
|[5b4aa4ead3089013...|http://www.amazon...|     Janet Evanovich|[[1217030400000]]|Stephanie Plum an...|[27.95,]|[[1218326400000]]|    St. Martin’s| [9]|           [7]|   FEARLESS FOURTEEN|          [6]|
|[5b4aa4ead3089013...|http://www.amazon...|          Jane Green|[[1218240000000]]|A woman’s life ch...|   [, 0]|[[1219536000000]]|          Viking|[18]|           [0]|     THE BEACH HOUSE|          [0]|
|[5b4aa4ead3089013...|http://www.amazon...|      Brunonia Barry|[[1220054400000]]|Secrets of a fami...|[24.95,]|[[1221350400000]]|          Morrow|[13]|          [10]|     THE LACE READER|          [5]|
|[5b4aa4ead3089013...|http://www.amazon...|    David Wroblewski|[[1221264000000]]|A mute takes refu...|[25.95,]|[[1222560000000]]|            Ecco| [9]|           [9]|THE STORY OF EDGA...|         [14]|
|[5b4aa4ead3089013...|http://www.amazon...|       John Sandford|[[1225497600000]]|Virgil Flowers in...|   [, 0]|[[1226793600000]]|          Putnam|[20]|           [0]|      HEAT LIGHTNING|          [0]|
|[5b4aa4ead3089013...|http://www.amazon...|            J D Robb|[[1226102400000]]|Lt. Eve Dallas in...|[25.95,]|[[1227398400000]]|          Putnam| [2]|           [0]|  SALVATION IN DEATH|          [1]|
|[5b4aa4ead3089013...|http://www.amazon...|       Toni Morrison|[[1226707200000]]|In 17th-century A...|[23.95,]|[[1228003200000]]|           Knopf| [5]|           [0]|             A MERCY|          [1]|
+--------------------+--------------------+--------------------+-----------------+--------------------+--------+-----------------+----------------+----+--------------+--------------------+-------------+
only showing top 10 rows

In [8]:
dataframe.columns

['_id',
 'amazon_product_url',
 'author',
 'bestsellers_date',
 'description',
 'price',
 'published_date',
 'publisher',
 'rank',
 'rank_last_week',
 'title',
 'weeks_on_list']

# QUERIES

# Select

In [9]:
# Select Operation

dataframe.select("author").show(10) #Show all entries in title column

dataframe.select("author", "title", "rank", "price").show(10)  #Show all entries in title, author, rank, price columns

+--------------------+
|              author|
+--------------------+
|       Dean R Koontz|
|     Stephenie Meyer|
|        Emily Giffin|
|   Patricia Cornwell|
|     Chuck Palahniuk|
|James Patterson a...|
|       John Sandford|
|       Jimmy Buffett|
|    Elizabeth George|
|      David Baldacci|
+--------------------+
only showing top 10 rows

+--------------------+--------------------+----+--------+
|              author|               title|rank|   price|
+--------------------+--------------------+----+--------+
|       Dean R Koontz|           ODD HOURS| [1]|  [, 27]|
|     Stephenie Meyer|            THE HOST| [2]|[25.99,]|
|        Emily Giffin|LOVE THE ONE YOU'...| [3]|[24.95,]|
|   Patricia Cornwell|           THE FRONT| [4]|[22.95,]|
|     Chuck Palahniuk|               SNUFF| [5]|[24.95,]|
|James Patterson a...|SUNDAYS AT TIFFANY’S| [6]|[24.99,]|
|       John Sandford|        PHANTOM PREY| [7]|[26.95,]|
|       Jimmy Buffett|          SWINE NOT?| [8]|[21.99,]|
|    Elizabeth George|     CARELESS IN RED| [9]|[27.95,]|
|      David Baldacci|     THE WHOLE TRUTH|[10]|[26.99,]|
+--------------------+--------------------+----+--------+
only showing top 10 rows

# When

In [10]:
# Show title and assign 0 or 1 depending on title

dataframe.select("title", when(dataframe.title != 'ODD HOURS', 1).otherwise(0)).show(10)

+--------------------+-----------------------------------------------------+
|               title|CASE WHEN (NOT (title = ODD HOURS)) THEN 1 ELSE 0 END|
+--------------------+-----------------------------------------------------+
|           ODD HOURS|                                                    0|
|            THE HOST|                                                    1|
|LOVE THE ONE YOU'...|                                                    1|
|           THE FRONT|                                                    1|
|               SNUFF|                                                    1|
|SUNDAYS AT TIFFANY’S|                                                    1|
|        PHANTOM PREY|                                                    1|
|          SWINE NOT?|                                                    1|
|     CARELESS IN RED|                                                    1|
|     THE WHOLE TRUTH|                                                    1|
+--------------------+-----------------------------------------------------+
only showing top 10 rows

In [11]:
# Show rows with specified authors if in the given options

dataframe [dataframe.author.isin("John Sandford","Emily Giffin")].show(5)

+--------------------+--------------------+-------------+-----------------+--------------------+--------+-----------------+------------+----+--------------+--------------------+-------------+
|                 _id|  amazon_product_url|       author| bestsellers_date|         description|   price|   published_date|   publisher|rank|rank_last_week|               title|weeks_on_list|
+--------------------+--------------------+-------------+-----------------+--------------------+--------+-----------------+------------+----+--------------+--------------------+-------------+
|[5b4aa4ead3089013...|http://www.amazon...| Emily Giffin|[[1211587200000]]|A woman's happy m...|[24.95,]|[[1212883200000]]|St. Martin's| [3]|           [2]|LOVE THE ONE YOU'...|          [2]|
|[5b4aa4ead3089013...|http://www.amazon...|John Sandford|[[1211587200000]]|The Minneapolis d...|[26.95,]|[[1212883200000]]|      Putnam| [7]|           [4]|        PHANTOM PREY|          [3]|
|[5b4aa4ead3089013...|http://www.amazon...| Emily Giffin|[[1212192000000]]|A woman’s happy m...|[24.95,]|[[1213488000000]]|St. Martin’s| [4]|           [3]|LOVE THE ONE YOU'...|          [3]|
|[5b4aa4ead3089013...|http://www.amazon...|John Sandford|[[1212192000000]]|The Minneapolis d...|[26.95,]|[[1213488000000]]|      Putnam| [9]|           [7]|        PHANTOM PREY|          [4]|
|[5b4aa4ead3089013...|http://www.amazon...| Emily Giffin|[[1212796800000]]|A woman’s happy m...|[24.95,]|[[1214092800000]]|St. Martin’s| [4]|           [4]|LOVE THE ONE YOU'...|          [4]|
+--------------------+--------------------+-------------+-----------------+--------------------+--------+-----------------+------------+----+--------------+--------------------+-------------+
only showing top 5 rows

# Like

In [12]:
# Show author and title is TRUE if title has " THE " word in titles

dataframe.select("author", "title", dataframe.title.like("% THE %")).show(15)

+--------------------+--------------------+------------------+
|              author|               title|title LIKE % THE %|
+--------------------+--------------------+------------------+
|       Dean R Koontz|           ODD HOURS|             false|
|     Stephenie Meyer|            THE HOST|             false|
|        Emily Giffin|LOVE THE ONE YOU'...|              true|
|   Patricia Cornwell|           THE FRONT|             false|
|     Chuck Palahniuk|               SNUFF|             false|
|James Patterson a...|SUNDAYS AT TIFFANY’S|             false|
|       John Sandford|        PHANTOM PREY|             false|
|       Jimmy Buffett|          SWINE NOT?|             false|
|    Elizabeth George|     CARELESS IN RED|             false|
|      David Baldacci|     THE WHOLE TRUTH|             false|
|        Troy Denning|          INVINCIBLE|             false|
|          James Frey|BRIGHT SHINY MORNING|             false|
|         Garth Stein|THE ART OF RACING...|              true|
|     Debbie Macomber|       TWENTY WISHES|             false|
|         Jeff Shaara|      THE STEEL WAVE|             false|
+--------------------+--------------------+------------------+
only showing top 15 rows

# StartsWith - EndsWith

In [13]:
dataframe.select("author", "title", dataframe.title.startswith("THE")).show(5)

dataframe.select("author", "title", dataframe.title.endswith("NT")).show(5)

+-----------------+--------------------+----------------------+
|           author|               title|startswith(title, THE)|
+-----------------+--------------------+----------------------+
|    Dean R Koontz|           ODD HOURS|                 false|
|  Stephenie Meyer|            THE HOST|                  true|
|     Emily Giffin|LOVE THE ONE YOU'...|                 false|
|Patricia Cornwell|           THE FRONT|                  true|
|  Chuck Palahniuk|               SNUFF|                 false|
+-----------------+--------------------+----------------------+
only showing top 5 rows

+-----------------+--------------------+-------------------+
|           author|               title|endswith(title, NT)|
+-----------------+--------------------+-------------------+
|    Dean R Koontz|           ODD HOURS|              false|
|  Stephenie Meyer|            THE HOST|              false|
|     Emily Giffin|LOVE THE ONE YOU'...|              false|
|Patricia Cornwell|           THE FRONT|               true|
|  Chuck Palahniuk|               SNUFF|              false|
+-----------------+--------------------+-------------------+
only showing top 5 rows

# Substring

In [14]:
dataframe.select(dataframe.author.substr(1, 6).alias("title")).show()

+------+
| title|
+------+
|Dean R|
|Stephe|
|Emily |
|Patric|
|Chuck |
|James |
|John S|
|Jimmy |
|Elizab|
|David |
|Troy D|
|James |
|Garth |
|Debbie|
|Jeff S|
|Philli|
|Jhumpa|
|Joseph|
|John G|
|James |
+------+
only showing top 20 rows

In [15]:
dataframe.select(dataframe.author.substr(1, 3).alias("title")).show(5)

dataframe.select(dataframe.author.substr(3, 6).alias("title")).show(5)

dataframe.select(dataframe.author.substr(1, 6).alias("title")).show(5)

+-----+
|title|
+-----+
|  Dea|
|  Ste|
|  Emi|
|  Pat|
|  Chu|
+-----+
only showing top 5 rows

+------+
| title|
+------+
|an R K|
|epheni|
|ily Gi|
|tricia|
|uck Pa|
+------+
only showing top 5 rows

+------+
| title|
+------+
|Dean R|
|Stephe|
|Emily |
|Patric|
|Chuck |
+------+
only showing top 5 rows

# INSPECT DATA

In [16]:
# Returns dataframe column names and data types
dataframe.dtypes

[('_id', 'struct<$oid:string>'),
 ('amazon_product_url', 'string'),
 ('author', 'string'),
 ('bestsellers_date', 'struct<$date:struct<$numberLong:string>>'),
 ('description', 'string'),
 ('price', 'struct<$numberDouble:string,$numberInt:string>'),
 ('published_date', 'struct<$date:struct<$numberLong:string>>'),
 ('publisher', 'string'),
 ('rank', 'struct<$numberInt:string>'),
 ('rank_last_week', 'struct<$numberInt:string>'),
 ('title', 'string'),
 ('weeks_on_list', 'struct<$numberInt:string>')]

In [195]:
# Displays the content of dataframe
dataframe.show()

+--------------------+--------------------+--------------------+-----------------+--------------------+--------+-----------------+--------------------+----+--------------+--------------------+-------------+
|                 _id|  amazon_product_url|              author| bestsellers_date|         description|   price|   published_date|           publisher|rank|rank_last_week|               title|weeks_on_list|
+--------------------+--------------------+--------------------+-----------------+--------------------+--------+-----------------+--------------------+----+--------------+--------------------+-------------+
|[5b4aa4ead3089013...|http://www.amazon...|       Dean R Koontz|[[1211587200000]]|Odd Thomas, who c...|  [, 27]|[[1212883200000]]|              Bantam| [1]|           [0]|           ODD HOURS|          [1]|
|[5b4aa4ead3089013...|http://www.amazon...|     Stephenie Meyer|[[1211587200000]]|Aliens have taken...|[25.99,]|[[1212883200000]]|       Little, Brown| [2]|           [1]|            THE HOST|          [3]|
|[5b4aa4ead3089013...|http://www.amazon...|        Emily Giffin|[[1211587200000]]|A woman's happy m...|[24.95,]|[[1212883200000]]|        St. Martin's| [3]|           [2]|LOVE THE ONE YOU'...|          [2]|
|[5b4aa4ead3089013...|http://www.amazon...|   Patricia Cornwell|[[1211587200000]]|A Massachusetts s...|[22.95,]|[[1212883200000]]|              Putnam| [4]|           [0]|           THE FRONT|          [1]|
|[5b4aa4ead3089013...|http://www.amazon...|     Chuck Palahniuk|[[1211587200000]]|An aging porn que...|[24.95,]|[[1212883200000]]|           Doubleday| [5]|           [0]|               SNUFF|          [1]|
|[5b4aa4ead3089013...|http://www.amazon...|James Patterson a...|[[1211587200000]]|A woman finds an ...|[24.99,]|[[1212883200000]]|       Little, Brown| [6]|           [3]|SUNDAYS AT TIFFANY’S|          [4]|
|[5b4aa4ead3089013...|http://www.amazon...|       John Sandford|[[1211587200000]]|The Minneapolis d...|[26.95,]|[[1212883200000]]|              Putnam| [7]|           [4]|        PHANTOM PREY|          [3]|
|[5b4aa4ead3089013...|http://www.amazon...|       Jimmy Buffett|[[1211587200000]]|A Southern family...|[21.99,]|[[1212883200000]]|       Little, Brown| [8]|           [6]|          SWINE NOT?|          [2]|
|[5b4aa4ead3089013...|http://www.amazon...|    Elizabeth George|[[1211587200000]]|In Cornwall, tryi...|[27.95,]|[[1212883200000]]|              Harper| [9]|           [8]|     CARELESS IN RED|          [3]|
|[5b4aa4ead3089013...|http://www.amazon...|      David Baldacci|[[1211587200000]]|An intelligence a...|[26.99,]|[[1212883200000]]|       Grand Central|[10]|           [7]|     THE WHOLE TRUTH|          [5]|
|[5b4aa4ead3089013...|http://www.amazon...|        Troy Denning|[[1211587200000]]|The New Jedi orde...|  [, 27]|[[1212883200000]]|  Del Rey/Ballantine|[11]|           [5]|          INVINCIBLE|          [2]|
|[5b4aa4ead3089013...|http://www.amazon...|          James Frey|[[1211587200000]]|A novel, set in L...|[26.95,]|[[1212883200000]]|              Harper|[12]|           [9]|BRIGHT SHINY MORNING|          [2]|
|[5b4aa4ead3089013...|http://www.amazon...|         Garth Stein|[[1211587200000]]|A Lab-terrier mix...|[23.95,]|[[1212883200000]]|              Harper|[13]|           [0]|THE ART OF RACING...|          [1]|
|[5b4aa4ead3089013...|http://www.amazon...|     Debbie Macomber|[[1211587200000]]|A widow who owns ...|[24.95,]|[[1212883200000]]|                Mira|[14]|          [10]|       TWENTY WISHES|          [4]|
|[5b4aa4ead3089013...|http://www.amazon...|         Jeff Shaara|[[1211587200000]]|A novel about the...|  [, 28]|[[1212883200000]]|          Ballantine|[15]|          [11]|      THE STEEL WAVE|          [2]|
|[5b4aa4ead3089013...|http://www.amazon...|    Phillip Margolin|[[1211587200000]]|                    |   [, 0]|[[1212883200000]]|HarperCollins Pub...|[16]|           [0]| EXECUTIVE PRIVILEGE|          [0]|
|[5b4aa4ead3089013...|http://www.amazon...|       Jhumpa Lahiri|[[1211587200000]]|Stories of the an...|   [, 0]|[[1212883200000]]|               Knopf|[17]|           [0]|  UNACCUSTOMED EARTH|          [0]|
|[5b4aa4ead3089013...|http://www.amazon...|      Joseph O'Neill|[[1211587200000]]|A Dutchman desert...|   [, 0]|[[1212883200000]]|Knopf Publishing ...|[18]|           [0]|          NETHERLAND|          [0]|
|[5b4aa4ead3089013...|http://www.amazon...|        John Grisham|[[1211587200000]]|Political and leg...|   [, 0]|[[1212883200000]]|Doubleday Publishing|[19]|           [0]|          THE APPEAL|          [0]|
|[5b4aa4ead3089013...|http://www.amazon...|       James Rollins|[[1211587200000]]|                    |   [, 0]|[[1212883200000]]|Random House Publ...|[20]|           [0]|INDIANA JONES AND...|          [0]|
+--------------------+--------------------+--------------------+-----------------+--------------------+--------+-----------------+--------------------+----+--------------+--------------------+-------------+
only showing top 20 rows

In [17]:
# Return first n rows
dataframe.head()

Row(_id=Row($oid='5b4aa4ead3089013507db18b'), amazon_product_url='http://www.amazon.com/Odd-Hours-Dean-Koontz/dp/0553807056?tag=NYTBS-20', author='Dean R Koontz', bestsellers_date=Row($date=Row($numberLong='1211587200000')), description='Odd Thomas, who can communicate with the dead, confronts evil forces in a California coastal town.', price=Row($numberDouble=None, $numberInt='27'), published_date=Row($date=Row($numberLong='1212883200000')), publisher='Bantam', rank=Row($numberInt='1'), rank_last_week=Row($numberInt='0'), title='ODD HOURS', weeks_on_list=Row($numberInt='1'))

In [18]:
# Returns first row
dataframe.first()

Row(_id=Row($oid='5b4aa4ead3089013507db18b'), amazon_product_url='http://www.amazon.com/Odd-Hours-Dean-Koontz/dp/0553807056?tag=NYTBS-20', author='Dean R Koontz', bestsellers_date=Row($date=Row($numberLong='1211587200000')), description='Odd Thomas, who can communicate with the dead, confronts evil forces in a California coastal town.', price=Row($numberDouble=None, $numberInt='27'), published_date=Row($date=Row($numberLong='1212883200000')), publisher='Bantam', rank=Row($numberInt='1'), rank_last_week=Row($numberInt='0'), title='ODD HOURS', weeks_on_list=Row($numberInt='1'))

In [19]:
# Return first n rows
dataframe.take(5)

[Row(_id=Row($oid='5b4aa4ead3089013507db18b'), amazon_product_url='http://www.amazon.com/Odd-Hours-Dean-Koontz/dp/0553807056?tag=NYTBS-20', author='Dean R Koontz', bestsellers_date=Row($date=Row($numberLong='1211587200000')), description='Odd Thomas, who can communicate with the dead, confronts evil forces in a California coastal town.', price=Row($numberDouble=None, $numberInt='27'), published_date=Row($date=Row($numberLong='1212883200000')), publisher='Bantam', rank=Row($numberInt='1'), rank_last_week=Row($numberInt='0'), title='ODD HOURS', weeks_on_list=Row($numberInt='1')),
 Row(_id=Row($oid='5b4aa4ead3089013507db18c'), amazon_product_url='http://www.amazon.com/The-Host-Novel-Stephenie-Meyer/dp/0316218502?tag=NYTBS-20', author='Stephenie Meyer', bestsellers_date=Row($date=Row($numberLong='1211587200000')), description='Aliens have taken control of the minds and bodies of most humans, but one woman won’t surrender.', price=Row($numberDouble='25.99', $numberInt=None), published_date=Row($date=Row($numberLong='1212883200000')), publisher='Little, Brown', rank=Row($numberInt='2'), rank_last_week=Row($numberInt='1'), title='THE HOST', weeks_on_list=Row($numberInt='3')),
 Row(_id=Row($oid='5b4aa4ead3089013507db18d'), amazon_product_url='http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20', author='Emily Giffin', bestsellers_date=Row($date=Row($numberLong='1211587200000')), description="A woman's happy marriage is shaken when she encounters an old boyfriend.", price=Row($numberDouble='24.95', $numberInt=None), published_date=Row($date=Row($numberLong='1212883200000')), publisher="St. Martin's", rank=Row($numberInt='3'), rank_last_week=Row($numberInt='2'), title="LOVE THE ONE YOU'RE WITH", weeks_on_list=Row($numberInt='2')),
 Row(_id=Row($oid='5b4aa4ead3089013507db18e'), amazon_product_url='http://www.amazon.com/The-Front-Garano-Patricia-Cornwell-ebook/dp/B0017T0C9M?tag=NYTBS-20', author='Patricia Cornwell', bestsellers_date=Row($date=Row($numberLong='1211587200000')), description='A Massachusetts state investigator and his team from "At Risk" confront a rogue association of municipal police departments.', price=Row($numberDouble='22.95', $numberInt=None), published_date=Row($date=Row($numberLong='1212883200000')), publisher='Putnam', rank=Row($numberInt='4'), rank_last_week=Row($numberInt='0'), title='THE FRONT', weeks_on_list=Row($numberInt='1')),
 Row(_id=Row($oid='5b4aa4ead3089013507db18f'), amazon_product_url='http://www.amazon.com/Snuff-Chuck-Palahniuk/dp/0385517882?tag=NYTBS-20', author='Chuck Palahniuk', bestsellers_date=Row($date=Row($numberLong='1211587200000')), description='An aging porn queens aims to cap her career by having sex on film with 600 men in one day.', price=Row($numberDouble='24.95', $numberInt=None), published_date=Row($date=Row($numberLong='1212883200000')), publisher='Doubleday', rank=Row($numberInt='5'), rank_last_week=Row($numberInt='0'), title='SNUFF', weeks_on_list=Row($numberInt='1'))]

In [20]:
# Computes summary statistics
dataframe.describe().show()

+-------+--------------------+---------------+--------------------+---------+------------------+
|summary|  amazon_product_url|         author|         description|publisher|             title|
+-------+--------------------+---------------+--------------------+---------+------------------+
|  count|               10195|          10195|               10195|    10195|             10195|
|   mean|                null|           null|                null|     null|1877.7142857142858|
| stddev|                null|           null|                null|     null| 370.9760613506458|
|    min|http://www.amazon...|        AJ Finn|                    |      ACE|  10TH ANNIVERSARY|
|    max|https://www.amazo...|various authors|’Tis for the Rebe...|allantine|               ZOO|
+-------+--------------------+---------------+--------------------+---------+------------------+

In [21]:
# Returns columns of dataframe
dataframe.columns

['_id',
 'amazon_product_url',
 'author',
 'bestsellers_date',
 'description',
 'price',
 'published_date',
 'publisher',
 'rank',
 'rank_last_week',
 'title',
 'weeks_on_list']

In [22]:
# Counts the number of rows in dataframe
dataframe.count()

10195

In [23]:
# Counts the number of distinct rows in dataframe
dataframe.distinct().count()

10195

In [24]:
# Prints plans including physical and logical
dataframe.explain(3)

== Parsed Logical Plan ==
Relation[_id#36,amazon_product_url#37,author#38,bestsellers_date#39,description#40,price#41,published_date#42,publisher#43,rank#44,rank_last_week#45,title#46,weeks_on_list#47] json

== Analyzed Logical Plan ==
_id: struct<$oid:string>, amazon_product_url: string, author: string, bestsellers_date: struct<$date:struct<$numberLong:string>>, description: string, price: struct<$numberDouble:string,$numberInt:string>, published_date: struct<$date:struct<$numberLong:string>>, publisher: string, rank: struct<$numberInt:string>, rank_last_week: struct<$numberInt:string>, title: string, weeks_on_list: struct<$numberInt:string>
Relation[_id#36,amazon_product_url#37,author#38,bestsellers_date#39,description#40,price#41,published_date#42,publisher#43,rank#44,rank_last_week#45,title#46,weeks_on_list#47] json

== Optimized Logical Plan ==
Relation[_id#36,amazon_product_url#37,author#38,bestsellers_date#39,description#40,price#41,published_date#42,publisher#43,rank#44,rank_last_week#45,title#46,weeks_on_list#47] json

== Physical Plan ==
*(1) FileScan json [_id#36,amazon_product_url#37,author#38,bestsellers_date#39,description#40,price#41,published_date#42,publisher#43,rank#44,rank_last_week#45,title#46,weeks_on_list#47] Batched: false, Format: JSON, Location: InMemoryFileIndex[file:/C:/Users/ersoyp/Documents/MEDIUM/Code/dataset/nyt2.json], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<_id:struct<$oid:string>,amazon_product_url:string,author:string,bestsellers_date:struct<$d...

# ADD, UPDATE & REMOVE COLUMNS

In [26]:
# Lit() is required while we are creating columns with exact values.

dataframe = dataframe.withColumn('new_column', lit('This is a new column'))
dataframe.show(5)

+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|                 _id|  amazon_product_url|           author| bestsellers_date|         description|   price|   published_date|    publisher|rank|rank_last_week|               title|weeks_on_list|          new_column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|[5b4aa4ead3089013...|http://www.amazon...|    Dean R Koontz|[[1211587200000]]|Odd Thomas, who c...|  [, 27]|[[1212883200000]]|       Bantam| [1]|           [0]|           ODD HOURS|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Stephenie Meyer|[[1211587200000]]|Aliens have taken...|[25.99,]|[[1212883200000]]|Little, Brown| [2]|           [1]|            THE HOST|          [3]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|     Emily Giffin|[[1211587200000]]|A woman's happy m...|[24.95,]|[[1212883200000]]| St. Martin's| [3]|           [2]|LOVE THE ONE YOU'...|          [2]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|Patricia Cornwell|[[1211587200000]]|A Massachusetts s...|[22.95,]|[[1212883200000]]|       Putnam| [4]|           [0]|           THE FRONT|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Chuck Palahniuk|[[1211587200000]]|An aging porn que...|[24.95,]|[[1212883200000]]|    Doubleday| [5]|           [0]|               SNUFF|          [1]|This is a new column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
only showing top 5 rows

In [27]:
# Update column 'amazon_product_url' with 'URL'

dataframe = dataframe.withColumnRenamed('amazon_product_url', 'URL')
dataframe.show(5)

+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|                 _id|                 URL|           author| bestsellers_date|         description|   price|   published_date|    publisher|rank|rank_last_week|               title|weeks_on_list|          new_column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|[5b4aa4ead3089013...|http://www.amazon...|    Dean R Koontz|[[1211587200000]]|Odd Thomas, who c...|  [, 27]|[[1212883200000]]|       Bantam| [1]|           [0]|           ODD HOURS|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Stephenie Meyer|[[1211587200000]]|Aliens have taken...|[25.99,]|[[1212883200000]]|Little, Brown| [2]|           [1]|            THE HOST|          [3]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|     Emily Giffin|[[1211587200000]]|A woman's happy m...|[24.95,]|[[1212883200000]]| St. Martin's| [3]|           [2]|LOVE THE ONE YOU'...|          [2]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|Patricia Cornwell|[[1211587200000]]|A Massachusetts s...|[22.95,]|[[1212883200000]]|       Putnam| [4]|           [0]|           THE FRONT|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Chuck Palahniuk|[[1211587200000]]|An aging porn que...|[24.95,]|[[1212883200000]]|    Doubleday| [5]|           [0]|               SNUFF|          [1]|This is a new column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
only showing top 5 rows

In [28]:
dataframe_remove = dataframe.drop("publisher", "published_date").show(5)

dataframe_remove2 = dataframe.drop(dataframe.publisher).drop(dataframe.published_date).show(5)

+--------------------+--------------------+-----------------+-----------------+--------------------+--------+----+--------------+--------------------+-------------+--------------------+
|                 _id|                 URL|           author| bestsellers_date|         description|   price|rank|rank_last_week|               title|weeks_on_list|          new_column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+----+--------------+--------------------+-------------+--------------------+
|[5b4aa4ead3089013...|http://www.amazon...|    Dean R Koontz|[[1211587200000]]|Odd Thomas, who c...|  [, 27]| [1]|           [0]|           ODD HOURS|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Stephenie Meyer|[[1211587200000]]|Aliens have taken...|[25.99,]| [2]|           [1]|            THE HOST|          [3]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|     Emily Giffin|[[1211587200000]]|A woman's happy m...|[24.95,]| [3]|           [2]|LOVE THE ONE YOU'...|          [2]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|Patricia Cornwell|[[1211587200000]]|A Massachusetts s...|[22.95,]| [4]|           [0]|           THE FRONT|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Chuck Palahniuk|[[1211587200000]]|An aging porn que...|[24.95,]| [5]|           [0]|               SNUFF|          [1]|This is a new column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+----+--------------+--------------------+-------------+--------------------+
only showing top 5 rows

+--------------------+--------------------+-----------------+-----------------+--------------------+--------+----+--------------+--------------------+-------------+--------------------+
|                 _id|                 URL|           author| bestsellers_date|         description|   price|rank|rank_last_week|               title|weeks_on_list|          new_column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+----+--------------+--------------------+-------------+--------------------+
|[5b4aa4ead3089013...|http://www.amazon...|    Dean R Koontz|[[1211587200000]]|Odd Thomas, who c...|  [, 27]| [1]|           [0]|           ODD HOURS|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Stephenie Meyer|[[1211587200000]]|Aliens have taken...|[25.99,]| [2]|           [1]|            THE HOST|          [3]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|     Emily Giffin|[[1211587200000]]|A woman's happy m...|[24.95,]| [3]|           [2]|LOVE THE ONE YOU'...|          [2]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|Patricia Cornwell|[[1211587200000]]|A Massachusetts s...|[22.95,]| [4]|           [0]|           THE FRONT|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Chuck Palahniuk|[[1211587200000]]|An aging porn que...|[24.95,]| [5]|           [0]|               SNUFF|          [1]|This is a new column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+----+--------------+--------------------+-------------+--------------------+
only showing top 5 rows

# GROUPBY

In [29]:
# Group by author, count the books of the authors in the groups
dataframe.groupBy("rank_last_week").count().show(10)

+--------------+-----+
|rank_last_week|count|
+--------------+-----+
|           [7]|  470|
|          [10]|  363|
|          [15]|  123|
|          [11]|  327|
|           [4]|  524|
|           [3]|  520|
|          [12]|  289|
|           [6]|  497|
|          [13]|  246|
|           [8]|  460|
+--------------+-----+
only showing top 10 rows

# MISIING AND REPLACING VALUES

In [30]:
# Replace null values
dataframe.na.fill(50).show(5)

+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|                 _id|                 URL|           author| bestsellers_date|         description|   price|   published_date|    publisher|rank|rank_last_week|               title|weeks_on_list|          new_column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|[5b4aa4ead3089013...|http://www.amazon...|    Dean R Koontz|[[1211587200000]]|Odd Thomas, who c...|  [, 27]|[[1212883200000]]|       Bantam| [1]|           [0]|           ODD HOURS|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Stephenie Meyer|[[1211587200000]]|Aliens have taken...|[25.99,]|[[1212883200000]]|Little, Brown| [2]|           [1]|            THE HOST|          [3]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|     Emily Giffin|[[1211587200000]]|A woman's happy m...|[24.95,]|[[1212883200000]]| St. Martin's| [3]|           [2]|LOVE THE ONE YOU'...|          [2]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|Patricia Cornwell|[[1211587200000]]|A Massachusetts s...|[22.95,]|[[1212883200000]]|       Putnam| [4]|           [0]|           THE FRONT|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Chuck Palahniuk|[[1211587200000]]|An aging porn que...|[24.95,]|[[1212883200000]]|    Doubleday| [5]|           [0]|               SNUFF|          [1]|This is a new column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
only showing top 5 rows

In [31]:
# Return new dataframe restricting rows with null values
dataframe.na.drop().show(5)

+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|                 _id|                 URL|           author| bestsellers_date|         description|   price|   published_date|    publisher|rank|rank_last_week|               title|weeks_on_list|          new_column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|[5b4aa4ead3089013...|http://www.amazon...|    Dean R Koontz|[[1211587200000]]|Odd Thomas, who c...|  [, 27]|[[1212883200000]]|       Bantam| [1]|           [0]|           ODD HOURS|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Stephenie Meyer|[[1211587200000]]|Aliens have taken...|[25.99,]|[[1212883200000]]|Little, Brown| [2]|           [1]|            THE HOST|          [3]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|     Emily Giffin|[[1211587200000]]|A woman's happy m...|[24.95,]|[[1212883200000]]| St. Martin's| [3]|           [2]|LOVE THE ONE YOU'...|          [2]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|Patricia Cornwell|[[1211587200000]]|A Massachusetts s...|[22.95,]|[[1212883200000]]|       Putnam| [4]|           [0]|           THE FRONT|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Chuck Palahniuk|[[1211587200000]]|An aging porn que...|[24.95,]|[[1212883200000]]|    Doubleday| [5]|           [0]|               SNUFF|          [1]|This is a new column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
only showing top 5 rows

In [32]:
# Return new dataframe replacing one value with another
dataframe.na.replace(10, 20).show(5)

+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|                 _id|                 URL|           author| bestsellers_date|         description|   price|   published_date|    publisher|rank|rank_last_week|               title|weeks_on_list|          new_column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|[5b4aa4ead3089013...|http://www.amazon...|    Dean R Koontz|[[1211587200000]]|Odd Thomas, who c...|  [, 27]|[[1212883200000]]|       Bantam| [1]|           [0]|           ODD HOURS|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Stephenie Meyer|[[1211587200000]]|Aliens have taken...|[25.99,]|[[1212883200000]]|Little, Brown| [2]|           [1]|            THE HOST|          [3]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|     Emily Giffin|[[1211587200000]]|A woman's happy m...|[24.95,]|[[1212883200000]]| St. Martin's| [3]|           [2]|LOVE THE ONE YOU'...|          [2]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|Patricia Cornwell|[[1211587200000]]|A Massachusetts s...|[22.95,]|[[1212883200000]]|       Putnam| [4]|           [0]|           THE FRONT|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Chuck Palahniuk|[[1211587200000]]|An aging porn que...|[24.95,]|[[1212883200000]]|    Doubleday| [5]|           [0]|               SNUFF|          [1]|This is a new column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
only showing top 5 rows

In [33]:
dataframe.na.replace(['_id', 'Unique_ID'], ['amazon_product_url', 'URL'], 'name').show(5)

+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|                 _id|                 URL|           author| bestsellers_date|         description|   price|   published_date|    publisher|rank|rank_last_week|               title|weeks_on_list|          new_column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|[5b4aa4ead3089013...|http://www.amazon...|    Dean R Koontz|[[1211587200000]]|Odd Thomas, who c...|  [, 27]|[[1212883200000]]|       Bantam| [1]|           [0]|           ODD HOURS|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Stephenie Meyer|[[1211587200000]]|Aliens have taken...|[25.99,]|[[1212883200000]]|Little, Brown| [2]|           [1]|            THE HOST|          [3]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|     Emily Giffin|[[1211587200000]]|A woman's happy m...|[24.95,]|[[1212883200000]]| St. Martin's| [3]|           [2]|LOVE THE ONE YOU'...|          [2]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|Patricia Cornwell|[[1211587200000]]|A Massachusetts s...|[22.95,]|[[1212883200000]]|       Putnam| [4]|           [0]|           THE FRONT|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|  Chuck Palahniuk|[[1211587200000]]|An aging porn que...|[24.95,]|[[1212883200000]]|    Doubleday| [5]|           [0]|               SNUFF|          [1]|This is a new column|
+--------------------+--------------------+-----------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
only showing top 5 rows

# REPARTITIONING

In [34]:
# Dataframe with 10 partitions

dataframe.repartition(10).rdd.getNumPartitions()

10

In [35]:
# Dataframe with 1 partition

dataframe.coalesce(1).rdd.getNumPartitions()

1

# RUNNING SQL QUERIES PROGRAMMATICALLY

# Registering DataFrames

In [36]:
dataframe.createGlobalTempView("nyt2")

In [37]:
dataframe.createTempView("bestsellers")

In [38]:
dataframe.createOrReplaceTempView("nyt2")

# Registering tables

In [39]:
# Registering a table
dataframe.registerTempTable("df")

In [40]:
sc.sql("select * from df").show(3)


sc.sql("select \
               CASE WHEN description LIKE '%love%' THEN 'Love_Theme' \
               WHEN description LIKE '%hate%' THEN 'Hate_Theme' \
               WHEN description LIKE '%happy%' THEN 'Happiness_Theme' \
               WHEN description LIKE '%anger%' THEN 'Anger_Theme' \
               WHEN description LIKE '%horror%' THEN 'Horror_Theme' \
               WHEN description LIKE '%death%' THEN 'Criminal_Theme' \
               WHEN description LIKE '%detective%' THEN 'Mystery_Theme' \
               ELSE 'Other_Themes' \
               END Themes \
       from df").groupBy('Themes').count().show()

+--------------------+--------------------+---------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|                 _id|                 URL|         author| bestsellers_date|         description|   price|   published_date|    publisher|rank|rank_last_week|               title|weeks_on_list|          new_column|
+--------------------+--------------------+---------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
|[5b4aa4ead3089013...|http://www.amazon...|  Dean R Koontz|[[1211587200000]]|Odd Thomas, who c...|  [, 27]|[[1212883200000]]|       Bantam| [1]|           [0]|           ODD HOURS|          [1]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|Stephenie Meyer|[[1211587200000]]|Aliens have taken...|[25.99,]|[[1212883200000]]|Little, Brown| [2]|           [1]|            THE HOST|          [3]|This is a new column|
|[5b4aa4ead3089013...|http://www.amazon...|   Emily Giffin|[[1211587200000]]|A woman's happy m...|[24.95,]|[[1212883200000]]| St. Martin's| [3]|           [2]|LOVE THE ONE YOU'...|          [2]|This is a new column|
+--------------------+--------------------+---------------+-----------------+--------------------+--------+-----------------+-------------+----+--------------+--------------------+-------------+--------------------+
only showing top 3 rows

+---------------+-----+
|         Themes|count|
+---------------+-----+
|    Anger_Theme|  203|
|   Other_Themes| 8778|
|  Mystery_Theme|  454|
|     Hate_Theme|   23|
| Criminal_Theme|  305|
|   Horror_Theme|    6|
|Happiness_Theme|   34|
|     Love_Theme|  392|
+---------------+-----+

# OUTPUT

# Data Structures

In [41]:
# Converting dataframe into an RDD
rdd_convert = dataframe.rdd

In [42]:
# Converting dataframe into a RDD of string
dataframe.toJSON().first()

'{"_id":{"$oid":"5b4aa4ead3089013507db18b"},"URL":"http://www.amazon.com/Odd-Hours-Dean-Koontz/dp/0553807056?tag=NYTBS-20","author":"Dean R Koontz","bestsellers_date":{"$date":{"$numberLong":"1211587200000"}},"description":"Odd Thomas, who can communicate with the dead, confronts evil forces in a California coastal town.","price":{"$numberInt":"27"},"published_date":{"$date":{"$numberLong":"1212883200000"}},"publisher":"Bantam","rank":{"$numberInt":"1"},"rank_last_week":{"$numberInt":"0"},"title":"ODD HOURS","weeks_on_list":{"$numberInt":"1"},"new_column":"This is a new column"}'

In [44]:
# Obtaining contents of df as Pandas dataFrame
dataframe.toPandas()

,_id,URL,author,bestsellers_date,description,price,published_date,publisher,rank,rank_last_week,title,weeks_on_list,new_column
0,"(5b4aa4ead3089013507db18b,)",http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Dean R Koontz,"((1211587200000,),)","Odd Thomas, who can communicate with the dead,...","(None, 27)","((1212883200000,),)",Bantam,"(1,)","(0,)",ODD HOURS,"(1,)",This is a new column
1,"(5b4aa4ead3089013507db18c,)",http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,"((1211587200000,),)",Aliens have taken control of the minds and bod...,"(25.99, None)","((1212883200000,),)","Little, Brown","(2,)","(1,)",THE HOST,"(3,)",This is a new column
2,"(5b4aa4ead3089013507db18d,)",http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,"((1211587200000,),)",A woman's happy marriage is shaken when she en...,"(24.95, None)","((1212883200000,),)",St. Martin's,"(3,)","(2,)",LOVE THE ONE YOU'RE WITH,"(2,)",This is a new column
3,"(5b4aa4ead3089013507db18e,)",http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,"((1211587200000,),)",A Massachusetts state investigator and his tea...,"(22.95, None)","((1212883200000,),)",Putnam,"(4,)","(0,)",THE FRONT,"(1,)",This is a new column
4,"(5b4aa4ead3089013507db18f,)",http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,"((1211587200000,),)",An aging porn queens aims to cap her career by...,"(24.95, None)","((1212883200000,),)",Doubleday,"(5,)","(0,)",SNUFF,"(1,)",This is a new column
5,"(5b4aa4ead3089013507db190,)",http://www.amazon.com/Sundays-at-Tiffanys-Jame...,James Patterson and Gabrielle Charbonnet,"((1211587200000,),)",A woman finds an unexpected love,"(24.99, None)","((1212883200000,),)","Little, Brown","(6,)","(3,)",SUNDAYS AT TIFFANY’S,"(4,)",This is a new column
6,"(5b4aa4ead3089013507db191,)",http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,"((1211587200000,),)",The Minneapolis detective Lucas Davenport inve...,"(26.95, None)","((1212883200000,),)",Putnam,"(7,)","(4,)",PHANTOM PREY,"(3,)",This is a new column
7,"(5b4aa4ead3089013507db192,)",http://www.amazon.com/From-Worse-Southern-Vamp...,Jimmy Buffett,"((1211587200000,),)",A Southern family tries to hide its pet pig at...,"(21.99, None)","((1212883200000,),)","Little, Brown","(8,)","(6,)",SWINE NOT?,"(2,)",This is a new column
8,"(5b4aa4ead3089013507db193,)",http://www.amazon.com/Where-Are-You-Now-Novel/...,Elizabeth George,"((1211587200000,),)","In Cornwall, trying to recover from his wife's...","(27.95, None)","((1212883200000,),)",Harper,"(9,)","(8,)",CARELESS IN RED,"(3,)",This is a new column
9,"(5b4aa4ead3089013507db194,)",http://www.amazon.com/The-Whole-Truth-David-Ba...,David Baldacci,"((1211587200000,),)",An intelligence agent and a journalist team up...,"(26.99, None)","((1212883200000,),)",Grand Central,"(10,)","(7,)",THE WHOLE TRUTH,"(5,)",This is a new column
10,"(5b4aa4ead3089013507db195,)",http://www.amazon.com/Careless-Red-Novel-Eliza...,Troy Denning,"((1211587200000,),)","The New Jedi order battles Darth Caedus, Darth...","(None, 27)","((1212883200000,),)",Del Rey/Ballantine,"(11,)","(5,)",INVINCIBLE,"(2,)",This is a new column
11,"(5b4aa4ead3089013507db196,)",http://www.amazon.com/Unaccustomed-Earth-Jhump...,James Frey,"((1211587200000,),)","A novel, set in Los Angeles, by the author of ...","(26.95, None)","((1212883200000,),)",Harper,"(12,)","(9,)",BRIGHT SHINY MORNING,"(2,)",This is a new column
12,"(5b4aa4ead3089013507db197,)",http://www.amazon.com/The-Racing-Rain-Garth-St...,Garth Stein,"((1211587200000,),)",A Lab-terrier mix with great insight into the ...,"(23.95, None)","((1212883200000,),)",Harper,"(13,)","(0,)",THE ART OF RACING IN THE RAIN,"(1,)",This is a new column
13,"(5b4aa4ead3089013507db198,)",http://www.amazon.com/Twenty-Wishes-Blossom-St...,Debbie Macomber,"((1211587200000,),)",A widow who owns a bookstore on Blossom Street...,"(24.95, None)","((1212883200000,),)",Mira,"(14,)","(10,)",TWENTY WISHES,"(4,)",This is a new column
14,"(5b4aa4ead3089013507db199,)",http://www.amazon.com/Hold-Tight-Harlan-Coben/...,Jeff Shaara,"((1211587200000,),)",A novel about the Allied invasion in France in...,"(None, 28)","((1212883200000,),)",Ballantine,"(15,)","(11,)",THE STEEL WAVE,"(2,)",This is a new column
15,"(5b4aa4ead3089013507db19a,)",http://www.amazon.com/Executive-Privilege-Nove...,Phillip Margolin,"((1211587200000,),)",,"(None, 0)","((1212883200000,),)",HarperCollins Publishers,"(16,)","(0,)",EXECUTIVE PRIVILEGE,"(0,)",This is a new column
16,"(5b4aa4ead3089013507db19b,)",http://www.amazon.com/Unaccustomed-Vintage-Con...,Jhumpa Lahiri,"((1211587200000,),)",Stories of the anxiety and transformation expe...,"(None, 0)","((1212883200000,),)",Knopf,"(17,)","(0,)",UNACCUSTOMED EARTH,"(0,)",This is a new column
17,"(5b4aa4ead3089013507db19c,)",http://www.amazon.com/Netherland-A-Novel-Josep...,Joseph O'Neill,"((1211587200000,),)",A Dutchman deserted by his wife after 9/11 fin...,"(None, 0)","((1212883200000,),)",Knopf Publishing Group,"(18,)","(0,)",NETHERLAND,"(0,)",This is a new column
18,"(5b4aa4ead3089013507db19d,)",http://www.amazon.com/The-Appeal-John-Grisham/...,John Grisham,"((1211587200000,),)",Political and legal intrigue ensue when a Miss...,"(None, 0)","((1212883200000,),)",Doubleday Publishing,"(19,)","(0,)",THE APPEAL,"(0,)",This is a new column
19,"(5b4aa4ead3089013507db19e,)",http://www.amazon.com/Indiana-Jones-Kingdom-Cr...,James Rollins,"((1211587200000,),)",,"(None, 0)","((1212883200000,),)",Random House Publishing Group,"(20,)","(0,)",INDIANA JONES AND THE KINGDOM OF THE CRYSTAL S...,"(0,)",This is a new column
20,"(5b4aa4ead3089013507db19f,)",http://www.amazon.com/Blood-Anita-Blake-Vampir...,Laurell K Hamilton,"((1212192000000,),)",The vampire hunter Anita Blake is involved in ...,"(25.95, None)","((1213488000000,),)",Berkley,"(1,)","(0,)",BLOOD NOIR,"(1,)",This is a new column
21,"(5b4aa4ead3089013507db1a0,)",http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,"((1212192000000,),)",Aliens have taken control of the minds and bod...,"(25.99, None)","((1213488000000,),)","Little, Brown","(2,)","(2,)",THE HOST,"(4,)",This is a new column
22,"(5b4aa4ead3089013507db1a1,)",http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Dean R Koontz,"((1212192000000,),)","Odd Thomas, who can communicate with the dead,...","(None, 27)","((1213488000000,),)",Bantam,"(3,)","(1,)",ODD HOURS,"(2,)",This is a new column
23,"(5b4aa4ead3089013507db1a2,)",http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,"((1212192000000,),)",A woman’s happy marriage is shaken when she en...,"(24.95, None)","((1213488000000,),)",St. Martin’s,"(4,)","(3,)",LOVE THE ONE YOU'RE WITH,"(3,)",This is a new column
24,"(5b4aa4ead3089013507db1a3,)",http://www.amazon.com/Sundays-at-Tiffanys-Jame...,James Patterson and Gabrielle Charbonnet,"((1212192000000,),)",A woman finds an unexpected love.,"(24.99, None)","((1213488000000,),)","Little, Brown","(5,)","(6,)",SUNDAYS AT TIFFANY’S,"(5,)",This is a new column
25,"(5b4aa4ead3089013507db1a4,)",http://www.amazon.com/Chasing-Harry-Winston-A-...,Lauren Weisberger,"((1212192000000,),)","Three glamorous friends, New York women nearin...","(25.95, None)","((1213488000000,),)",Simon & Schuster,"(6,)","(0,)",CHASING HARRY WINSTON,"(1,)",This is a new column
26,"(5b4aa4ead3089013507db1a5,)",http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,"((1212192000000,),)",A Massachusetts state investigator and his tea...,"(22.95, None)","((1213488000000,),)",Putnam,"(7,)","(4,)",THE FRONT,"(2,)",This is a new column
27,"(5b4aa4ead3089013507db1a6,)",http://www.amazon.com/Devil-Care-James-Bond-No...,Sebastian Faulks,"((1212192000000,),)",This continuation of the James Bond franchise ...,"(24.95, None)","((1213488000000,),)",Doubleday,"(8,)","(0,)",DEVIL MAY CARE,"(1,)",This is a new column
28,"(5b4aa4ead3089013507db1a7,)",http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,"((1212192000000,),)",The Minneapolis detective Lucas Davenport inve...,"(26.95, None)","((1213488000000,),)",Putnam,"(9,)","(7,)",PHANTOM PREY,"(4,)",This is a new column
29,"(5b4aa4ead3089013507db1a8,)",http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,"((1212192000000,),)",An aging porn queen aims to cap her career by ...,"(24.95, None)","((1213488000000,),)",Doubleday,"(10,)","(5,)",SNUFF,"(2,)",This is a new column
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10165,"(5b4aa4ead3089013507dd940,)",https://www.amazon.com/President-Missing-Novel...,Bill Clinton and James Patterson,"((1530316800000,),)",President Jonathan Duncan takes on adversaries...,"(None, 0)","((1531612800000,),)","Little, Brown and Knopf","(1,)","(1,)",THE PRESIDENT IS MISSING,"(4,)",This is a new column
10166,"(5b4aa4ead3089013507dd941,)",https://www.amazon.com/All-We-Ever-Wanted-Nove...,Emily Giffin,"((1530316800000,),)",A scandal sends members of two Nashville famil...,"(None, 0)","((1531612800000,),)",Ballantine,"(2,)","(0,)",ALL WE EVER WANTED,"(1,)",This is a new column
10167,"(5b4aa4ead3089013507dd942,)",https://www.amazon.com/Outsider-Novel-Stephen-...,Stephen King,"((1530316800000,),)",A detective investigates a seemingly wholesome...,"(None, 0)","((1531612800000,),)",Scribner,"(3,)","(3,)",THE OUTSIDER,"(6,)",This is a new column
10168,"(5b4aa4ead3089013507dd943,)",https://www.amazon.com/Perfect-Couple-Elin-Hil...,Elin Hilderbrand,"((1530316800000,),)",A body is found in Nantucket Harbor hours befo...,"(None, 0)","((1531612800000,),)","Little, Brown","(4,)","(2,)",THE PERFECT COUPLE,"(2,)",This is a new column
10169,"(5b4aa4ead3089013507dd944,)",https://www.amazon.com/Shelter-Place-Nora-Robe...,Nora Roberts,"((1530316800000,),)",Survivors of a mass shooting outside a mall in...,"(None, 0)","((1531612800000,),)",St. Martin's,"(5,)","(5,)",SHELTER IN PLACE,"(5,)",This is a new column
10170,"(5b4aa4ead3089013507dd945,)",https://www.amazon.com/Clancy-Line-Sight-Jack-...,Mike Maden,"((1530316800000,),)",Jack Ryan Jr. risks his life to protect a woma...,"(None, 0)","((1531612800000,),)",Putnam,"(6,)","(4,)",TOM CLANCY LINE OF SIGHT,"(3,)",This is a new column
10171,"(5b4aa4ead3089013507dd946,)",https://www.amazon.com/Death-Mrs-Westaway-Ruth...,Ruth Ware,"((1530316800000,),)",A tarot card reader mistakenly receives an inh...,"(None, 0)","((1531612800000,),)",Gallery/Scout,"(7,)","(6,)",THE DEATH OF MRS. WESTAWAY,"(5,)",This is a new column
10172,"(5b4aa4ead3089013507dd947,)",https://www.amazon.com/There-novel-Tommy-Orang...,Tommy Orange,"((1530316800000,),)",A multigenerational story exploring the plight...,"(None, 0)","((1531612800000,),)",Knopf,"(8,)","(8,)",THERE THERE,"(4,)",This is a new column
10173,"(5b4aa4ead3089013507dd948,)",https://www.amazon.com/When-Life-Gives-You-Lul...,Lauren Weisberger,"((1530316800000,),)",Emily Charlton plans a comeback from the suburbs.,"(None, 0)","((1531612800000,),)",Simon & Schuster,"(9,)","(7,)",WHEN LIFE GIVES YOU LULULEMONS,"(4,)",This is a new column
10174,"(5b4aa4ead3089013507dd949,)",https://www.amazon.com/Before-We-Were-Yours-No...,Lisa Wingate,"((1530316800000,),)",A South Carolina lawyer learns about the quest...,"(None, 0)","((1531612800000,),)",Ballantine,"(10,)","(9,)",BEFORE WE WERE YOURS,"(41,)",This is a new column
10175,"(5b4aa4ead3089013507dd94a,)",https://www.amazon.com/Something-Water-Novel-C...,Catherine Steadman,"((1530316800000,),)",A documentary filmmaker and an investment bank...,"(None, 0)","((1531612800000,),)",Ballantine,"(11,)","(11,)",SOMETHING IN THE WATER,"(4,)",This is a new column
10176,"(5b4aa4ead3089013507dd94b,)",https://www.amazon.com/Little-Fires-Everywhere...,Celeste Ng,"((1530316800000,),)",An artist upends a quiet town outside Cleveland.,"(None, 0)","((1531612800000,),)",Penguin Press,"(12,)","(14,)",LITTLE FIRES EVERYWHERE,"(40,)",This is a new column
10177,"(5b4aa4ead3089013507dd94c,)",https://www.amazon.com/Fallen-Memory-Man-David...,David Baldacci,"((1530316800000,),)",Amos Decker puts his talents toward solving a ...,"(None, 0)","((1531612800000,),)",Grand Central,"(13,)","(10,)",THE FALLEN,"(11,)",This is a new column
10178,"(5b4aa4ead3089013507dd94d,)",https://www.amazon.com/Woman-Window-Novel-J-Fi...,AJ Finn,"((1530316800000,),)",A recluse who drinks heavily and takes prescri...,"(None, 0)","((1531612800000,),)",Morrow,"(14,)","(0,)",THE WOMAN IN THE WINDOW,"(23,)",This is a new column
10179,"(5b4aa4ead3089013507dd94e,)",https://www.amazon.com/Great-Alone-Novel-Krist...,Kristin Hannah,"((1530316800000,),)",A former prisoner of war moves his family to A...,"(None, 0)","((1531612800000,),)",St. Martin's,"(15,)","(0,)",THE GREAT ALONE,"(18,)",This is a new column
10180,"(5b4aa4ead3089013507dd94f,)",https://www.amazon.com/President-Missing-Novel...,Bill Clinton and James Patterson,"((1530921600000,),)",President Jonathan Duncan takes on adversaries...,"(None, 0)","((1532217600000,),)","Little, Brown and Knopf","(1,)","(1,)",THE PRESIDENT IS MISSING,"(5,)",This is a new column
10181,"(5b4aa4ead3089013507dd950,)",https://www.amazon.com/Spymaster-Thriller-Scot...,Brad Thor,"((1530921600000,),)",The 18th book in the Scot Harvath series. As a...,"(None, 0)","((1532217600000,),)",Emily Bestler/Atria,"(2,)","(0,)",SPYMASTER,"(1,)",This is a new column
10182,"(5b4aa4ead3089013507dd951,)",https://www.amazon.com/Perfect-Couple-Elin-Hil...,Elin Hilderbrand,"((1530921600000,),)",A body is found in Nantucket Harbor hours befo...,"(None, 0)","((1532217600000,),)","Little, Brown","(3,)","(4,)",THE PERFECT COUPLE,"(3,)",This is a new column
10183,"(5b4aa4ead3089013507dd952,)",https://www.amazon.com/Outsider-Novel-Stephen-...,Stephen King,"((1530921600000,),)",A detective investigates a seemingly wholesome...,"(None, 0)","((1532217600000,),)",Scribner,"(4,)","(3,)",THE OUTSIDER,"(7,)",This is a new column
10184,"(5b4aa4ead3089013507dd953,)",https://www.amazon.com/All-We-Ever-Wanted-Nove...,Emily Giffin,"((1530921600000,),)",A scandal sends members of two Nashville famil...,"(None, 0)","((1532217600000,),)",Ballantine,"(5,)","(2,)",ALL WE EVER WANTED,"(2,)",This is a new column
10185,"(5b4aa4ead3089013507dd954,)",https://www.amazon.com/There-novel-Tommy-Orang...,Tommy Orange,"((1530921600000,),)",A multigenerational story exploring the plight...,"(None, 0)","((1532217600000,),)",Knopf,"(6,)","(8,)",THERE THERE,"(5,)",This is a new column
10186,"(5b4aa4ead3089013507dd955,)",https://www.amazon.com/Death-Mrs-Westaway-Ruth...,Ruth Ware,"((1530921600000,),)",A tarot card reader mistakenly receives an inh...,"(None, 0)","((1532217600000,),)",Gallery/Scout,"(7,)","(7,)",THE DEATH OF MRS. WESTAWAY,"(6,)",This is a new column
10187,"(5b4aa4ead3089013507dd956,)",https://www.amazon.com/When-Life-Gives-You-Lul...,Lauren Weisberger,"((1530921600000,),)",Emily Charlton plans a comeback from the suburbs.,"(None, 0)","((1532217600000,),)",Simon & Schuster,"(8,)","(9,)",WHEN LIFE GIVES YOU LULULEMONS,"(5,)",This is a new column
10188,"(5b4aa4ead3089013507dd957,)",https://www.amazon.com/Fallen-Memory-Man-David...,David Baldacci,"((1530921600000,),)",Amos Decker puts his talents toward solving a ...,"(None, 0)","((1532217600000,),)",Grand Central,"(9,)","(13,)",THE FALLEN,"(12,)",This is a new column
10189,"(5b4aa4ead3089013507dd958,)",https://www.amazon.com/Before-We-Were-Yours-No...,Lisa Wingate,"((1530921600000,),)",A South Carolina lawyer learns about the quest...,"(None, 0)","((1532217600000,),)",Ballantine,"(10,)","(10,)",BEFORE WE WERE YOURS,"(42,)",This is a new column
10190,"(5b4aa4ead3089013507dd959,)",https://www.amazon.com/Clancy-Line-Sight-Jack-...,Mike Maden,"((1530921600000,),)",Jack Ryan Jr. risks his life to protect a woma...,"(None, 0)","((1532217600000,),)",Putnam,"(11,)","(6,)",TOM CLANCY LINE OF SIGHT,"(4,)",This is a new column
10191,"(5b4aa4ead3089013507dd95a,)",https://www.amazon.com/Something-Water-Novel-C...,Catherine Steadman,"((1530921600000,),)",A documentary filmmaker and an investment bank...,"(None, 0)","((1532217600000,),)",Ballantine,"(12,)","(11,)",SOMETHING IN THE WATER,"(5,)",This is a new column
10192,"(5b4aa4ead3089013507dd95b,)",https://www.amazon.com/Little-Fires-Everywhere...,Celeste Ng,"((1530921600000,),)",An artist upends a quiet town outside Cleveland.,"(None, 0)","((1532217600000,),)",Penguin Press,"(13,)","(12,)",LITTLE FIRES EVERYWHERE,"(41,)",This is a new column
10193,"(5b4aa4ead3089013507dd95c,)",https://www.amazon.com/Shelter-Place-Nora-Robe...,Nora Roberts,"((1530921600000,),)",Survivors of a mass shooting outside a mall in...,"(None, 0)","((1532217600000,),)",St. Martin's,"(14,)","(5,)",SHELTER IN PLACE,"(6,)",This is a new column
10194,"(5b4aa4ead3089013507dd95d,)",https://www.amazon.com/Last-Time-Lied-Novel/dp...,Riley Sager,"((1530921600000,),)",A painter is in danger when she returns to the...,"(None, 0)","((1532217600000,),)",Dutton,"(15,)","(0,)",THE LAST TIME I LIED,"(1,)",This is a new column

# Write & Save Files

In [43]:
# Write & Save File in .parquet format
dataframe.select("author", "title", "rank", "description")\
.write \
.save("Rankings_Descriptions.parquet")

In [44]:
# Write & Save File in .json format
dataframe.select("author", "title") \
.write \
.save("Authors_Titles.json",format="json")

# STOPPING SPARK SESSION

In [45]:
# End Spark Session 
sc.stop()